#tate_modern {
height: 375px;
}
#tate_modern.larger {
height: 410px;
}
body {
  padding-top: 70px;
  background-color: #f8f8f8;
}
.container {
    position: relative;
    text-align: left;
}
h2 {
  padding: 10px 10px 10px 0;
  margin: 5px 5px 5px 0;
  font-size: 20px;
}
h3 {
  background: #b3b3b3;
  padding: 10px 10px 10px 20px;
  margin: 5px;
}

h4 {
  background: #b3b3b3;
  color: white;
  padding: 30px 20px 0px 20px;
  margin: 5px;
  font-size: 25px;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

img {
  margin: 10px 10px 10px 120px;
}

p {
    text-align: center;
    padding: 0px 10px 0px 0px;
}

.about {
  background-color: #f8f8f8;
  margin: 10px 10px 10px 120px;
}

#Anouk {
  margin: 10px 10px 10px 150px;
}

#Olivia {
    margin: 10px 10px 10px 120px;
}

.Description {
  background-color: #f8f8f8;
  font-size: 25px;
  padding: 0px 0px 10px 0px;
  margin: 0px;
  text-align: center;
}

.Artist{
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

.row {
  margin: 0 10px 0 10px;
}
.card {
  margin: 10px;
}
.bridge {
  color: white;
  text-align: center;
}
.switch {
  text-align: right
}
.btn {
  display: inline-block;
  padding: 15px;
  margin-bottom: 0;
  font-size: 25px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #b3b3b3;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}
.btn-default {
  color: #333;
  background-color: #b3b3b3;
  border-color: #b3b3b3;
}
.btn-default:focus,
.btn-default.focus {
  color: #333;
  background-color: #b3b3b3;
  border-color: #b3b3b3;
}
.btn-default:hover {
  color: #333;
  background-color: #b3b3b3;
  border-color: #b3b3b3;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #b3b3b3;
  border-color: #b3b3b3;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #333;
  background-color: #b3b3b3;
  border-color: #b3b3b3;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  background-color: #fff;
  border-color: #ccc;
}
.btn-default .badge {
  color: #fff;
  background-color: #333;
}
.btn-primary {
  color: #fff;
  background-color: #b3b3b3;
  border-color: #b3b3b3;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #b3b3b3;
  border-color: #b3b3b3;
}
.btn-primary:hover {
  color: #fff;
  background-color: #b3b3b3;
  border-color: #b3b3b3;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #b3b3b3;
  border-color: #b3b3b3;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #b3b3b3;
  border-color: #b3b3b3;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #b3b3b3;
  border-color: #b3b3b3;
}
.btn-primary .badge {
  color: #337ab7;
  background-color: #b3b3b3;
}
